.ck-content .table table th {
  background-color: white !important;
}
.ck-content[dir="ltr"] .table th {
  border: 1px solid black !important;
}
.ck-editor__main p {
  font-family: calibri-light !important;
  font-size: 12pt;
  color: #000000 !important;
}

.ck-content .table table td,
.ck-content .table table th {
  border: 1px solid black !important;
}
.table table td,
.table table th {
  border: 1px solid black !important;
  font-family: calibiri-light !important;
}
.table th {
  border: 1px solid black !important;
  font-family: calibiri-light !important;
}
p {
  font-family: calibri-light !important;
  font-size: 12pt;
  color: #000000 !important;
}
